@mixin fontStyles($family: $font_3, $size: 20rem, $height: unset, $weight: 400, $spacing: 0,) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  font-weight: $weight;
}
