$color_white: #ffffff;
$color_dark-black: #000000;
$color_black: #393939;
$color_bg: #F2F1E9;
$color_primary: #F26F6F;
$color_light-gray: #CECECE;
$color_gray: #848484;

$font_1: BOWLER, sans-serif;
$font_2: Comfortaa, sans-serif;
$font_3: Montserrat, sans-serif;

$brakepoint: 650px;

$transition_base: 0.3s ease-in-out;
