@import "./vars";
@import "./fonts";
@import "./mixins";
@import "./reset";

* {
  &::-webkit-scrollbar {
    background: transparent;
    width: 10rem;
    &-thumb {
      background: rgba($color_primary, 0.8);
      border-radius: 10rem;
      transition: all $transition_base;
      &:active {
        background: rgba($color_primary, 1);
      }
    }
  }
}
body {
  overflow: overlay;
  @include fontStyles($font_3, 20rem, 30rem, 400);
}

.sb-container {
  width: 100%;
  max-width: 1660rem;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $brakepoint) {
    max-width: unset;
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

.sb-section-title {
  @include fontStyles($font_2, 42rem, 67rem, 600);
  @media screen and (max-width: $brakepoint) {
    @include fontStyles($font_2, 19rem, 30rem, 600);
  }
}

.desktop-hidden {
  @media screen and (min-width: $brakepoint) {
    display: none !important;
  }
}
.mobile-hidden {
  @media screen and (max-width: $brakepoint) {
    display: none !important;
  }
}
//UNDERLINE
.underline-primary {
  text-decoration: none;
  background-image: linear-gradient($color_primary, $color_primary);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2rem;
  transition: all $transition_base !important;
  &:hover {
    background-size: 100% 2rem;
    @media only screen and (max-width: 650px) {
      background-size: 100% 1rem;
    }
  }
}
.underline-white {
  text-decoration: none;
  background-image: linear-gradient($color_white, $color_white);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2rem;
  transition: all $transition_base !important;
  &:hover {
    background-size: 100% 2rem;
    @media only screen and (max-width: 650px) {
      background-size: 100% 1rem;
    }
  }
}
.underline-light-gray {
  text-decoration: none;
  background-image: linear-gradient($color_light-gray, $color_light-gray);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2rem;
  transition: all $transition_base !important;
  &:hover {
    background-size: 100% 2rem;
    @media only screen and (max-width: 650px) {
      background-size: 100% 1rem;
    }
  }
}

//TRANSITIONS
.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition_base;
  transition-delay: 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

//TEXT SELECTION
* {
  ::selection {
    background-color: rgba($color_primary, 0.8);
    color: $color_white;
  }
}
.sb-noselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  * {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
}

//ANIMATION OBSERVER

.sb-observe {
  transition: all 0.6s ease-in-out;
  &.sb-observe--fade {
    opacity: 0;
    &.sb-observe--active {
      opacity: 1;
    }
  }
  &.sb-observe--fade-up {
    opacity: 0;
    transform: translateY(100rem);
    &.sb-observe--active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
